:root {
    --bg-01: #FFFFFF;
    --bg-02: #F2F2F2;
    --bg-03: #E6E6E6;
    --bg-04: #CCCCCC;
    --bg-05: #B3B3B3;
    --bg-06: #999999;
    --bg-07: #808080;
    --bg-08: #666666;
    --bg-09: #4D4D4D;
    --bg-10: #333333;
    --bg-11: #1A1A1A;
    --bg-12: #000000;
}

.colour-01,
.colour-01 header {
    background-color: var(--bg-01);
}

.colour-02,
.colour-02 header {
    background-color: var(--bg-02);
}

.colour-03,
.colour-03 header {
    background-color: var(--bg-03);
}

.colour-04,
.colour-04 header {
    background-color: var(--bg-04);
}

.colour-05,
.colour-05 header {
    background-color: var(--bg-05);
}

.colour-06,
.colour-06 header {
    background-color: var(--bg-06);
}

.colour-07,
.colour-07 header {
    background-color: var(--bg-07);
}

.colour-08,
.colour-08 header {
    background-color: var(--bg-08);
}

.colour-09,
.colour-09 header {
    background-color: var(--bg-09);
}

.colour-10,
.colour-10 header {
    background-color: var(--bg-10);
}

.colour-11,
.colour-11 header {
    background-color: var(--bg-11);
}

.colour-12,
.colour-12 header {
    background-color: var(--bg-12);
}


/* TEX COLOR */

.f-half header,
.f-half p,
.f-half a {
    color: var(--bg-12);
}

.s-half header,
.s-half p,
.s-half a {
    color: var(--bg-01);
}

/* INPUTS */
.f-half input,
.f-half textarea,
.f-half input::placeholder,
.f-half textarea::placeholder,
.f-half #search .item-type .type,
.f-half #search .item-list,
.f-half #search .item-type,
.f-half .corner::before,
.f-half .corner::after {
    background-color: var(--bg-12);
    color: var(--bg-01);
}

.s-half input,
.s-half textarea,
.s-half input::placeholder,
.s-half textarea::placeholder,
.s-half #search .item-type .type,
.s-half #search .item-list,
.s-half #search .item-type,
.s-half .corner::before,
.s-half .corner::after {
    background-color: var(--bg-01);
    color: var(--bg-12);
}

/* SEARCH CATEGORIES */

.f-half #search .item-type .type {
    border: 1px solid var(--bg-01);
    box-sizing: border-box;
}

.s-half #search .item-type .type {
    border: 1px solid var(--bg-12);
    box-sizing: border-box;
}