:root {
  --mainColor: #ffffff;
  --secondColor: #000000;
  --column: #ff0000;

  --marginDesktop: 40px;
  --gutter: 25px;
}


@font-face {
  font-family: "TT Interphases";
  src: url("../fonts/TT\ Interphases\ Pro\ Mono\ Trial\ Var\ Roman.ttf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

::selection {
  color: var(--mainColor);
  background: var(--secondColor);
}

body {
      background-color: var(--mainColor);
    color: var(--secondColor);
    margin: var(--marginDesktop);
    font-family: "TT Interphases";
    font-weight: 400;
}



.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--gutter);
}


h1{
    font-size: 22px;
    line-height: 27px;
    text-wrap: balance;
    font-weight: 400;
}


p{
    font-size: 16px;
    line-height: 21px;
    text-wrap: balance;
}

.bold{
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--secondColor);
}

main{
    grid-column: span 6;
}


/*background*/
.grid-background{
    grid-column: span 6;
}

.grid-background {
  position: absolute;
  top: var(--marginDesktop);
  left: var(--marginDesktop);
  width: calc(100% - var(--marginDesktop) * 2);
  height: calc(100% - var(--marginDesktop) * 2);
  z-index: -1;
  pointer-events: none; 
}

.grid-background div {
  border: 1px solid var(--column);
}



/*header*/
header{
    grid-column: span 6;
}

header p:hover{
font-weight: 700;
cursor: pointer;
}

.header-col1{
    grid-column: 1 / span 1;
}

.header-col3{
    grid-column: 3 / span 1;
}

.header-col2{
    grid-column: 2 / span 1;
    display: flex;
    flex-direction: row;
    gap:0.5em;
}

.header-col5{
    grid-column: 5 / span 1;
}

.header-col6{
    grid-column: 6 / span 1;
}

.header-search{
    width: 100%;
    height: fit-content;
    background-color: var(--secondColor);
    color: var(--mainColor);
}

/*color palette*/
.color-palette-item{
    width:25px;
    height: 25px;
}

.color-palette-left{
    position: absolute;
    left: 7.5px;
}

.color-palette-right{
    position: absolute;
    right: 7.5px;
}

.color-palette-1{
    background-color: #ffffff;
}

.color-palette-2{
    background-color: #f2f2f2;
}

.color-palette-3{
    background-color: #e6e6e6;
}

.color-palette-4{
    background-color: #cccccc;
}

.color-palette-5{
    background-color: #b3b3b3;
}

.color-palette-6{
    background-color: #999999;
}

.color-palette-7{
    background-color: #808080;
}

.color-palette-8{
    background-color: #666666;
}

.color-palette-9{
    background-color: #4d4d4d;
}

.color-palette-10{
    background-color: #333333;
}

.color-palette-11{
    background-color: #1a1a1a;
}

.color-palette-12{
    background-color: #000000;
}

/*index*/
.book-container{
grid-column: span 6;
margin-top:50px;
}



/*panorama/lista/catálogo*/
/*panorama*/
.panorama .book-container-inner{
    display: flex;
    flex-wrap: wrap;
    grid-column: span 6;
}
.panorama .book-item .book-cover{
    height: 120px;
}

.panorama .book-title{
    display: none;
}

.panorama .book-item{
    height: auto;
}

/*catálogo*/
.catalogo .book-container-inner{
    grid-column: span 6;
    display: flex;
    gap: var(--gutter);
    flex-direction: row;
    overflow-x: auto; /* allows scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.catalogo::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}


.catalogo .book-item{
    width: calc((100% - (var(--marginDesktop)*2) - (var(--gutter) * 1.8)) / 6);

    display: flex;
    flex-direction: column;
    gap:var(--gutter);
}

.catalogo .book-title{
    opacity: 0;
    transition: opacity 0.5s ease;
}

.catalogo .book-item:hover .book-title{
    opacity: 1;
}

/*lista*/
.lista{
display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--gutter);
}

.lista .book-item{
    grid-column: span 1;
}

.lista .book-cover{
display: none;
}

.book-year{
    display: none;
}

.lista .book-year{
display: block;
font-weight: 700;
}

.lista .book-container-inner{
    grid-column: span 5;
    display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: var(--gutter);
}

.lista .book-container-out{
    grid-column: span 6;
}

/*about*/
.about-text{
    grid-column: 1 / span 3;
}

.about-text p{
    margin-bottom: 1em;
}


/*single*/
.single-cover{
    margin: 100px 0;
}

.single-title{
    grid-column: 2 / span 1;
}

.single-front{
    grid-column: 1 / span 2;
}

.single-front img{
    width: 100%;
}

.single-side{
    grid-column: 3 / span 1;
}
.single-side img{
    width: 100%;
}


.single-back{
    grid-column: 5 / span 2;
}

.single-back img{
    width: 100%;
}

.single-info{
    grid-column: span 1;
}

.gallery{
    margin: 100px 0;
     grid-column: span 6;
}

.gallery-item{
    grid-column: span 2;
}

.gallery-item img{
    width: 100%;
}